<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${product.title}">作品詳細</title>
<link rel="stylesheet" href="/css/homePage.css">
<link rel="stylesheet" href="/css/SamplePage.css">	<!-- 0614　中村追加　サンプルページ -->
</head>
<body  oncontextmenu="return false;">	<!-- 0614　中村追加　右クリック不可で画像保存禁止　--> 
	<header class="header">
		<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
		<label for="drawer-toggle" id="drawer-toggle-label"></label>
		<nav id="drawer">
		<ul>
			<li><a th:href="@{/products}">作品一覧</a></li>
			<li><a th:href="@{/buylog}">購入履歴</a></li>
			<li><a th:href="@{/viewLog}">閲覧履歴</a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a th:href="@{/settings}">ユーザー設定</a></li>
			<li><a th:href="@{/email-settings}">メール設定</a></li>
			<li><a th:href="@{/userUpdate}">パスワード変更</a></li>
			<li>
				<div th:if="${loginUser != 'anonymousUser'}">
					<form th:action="@{/logout}" method="post">
					<button class="b_color4">ログアウト</button>
					</form>
				</div>
			</li>
		</ul>
		</nav>

		<!-- 中央：書店名 -->
		<div class="header-center">
			<a th:href="@{/homepage}">
				<div class="logo">品川書店</div>
			</a>
		</div>

		<!-- 右：各種ボタン -->
		<div class="list-right">
				<div th:if="${loginUser != 'anonymousUser'}">
				<a th:href="@{/inquiry}">お問い合わせ</a>&nbsp;&nbsp;<a th:href="@{/qa}">Q＆A</a>&nbsp;&nbsp;<a th:href="@{/cart}">カート</a>
			</div>
			<div th:unless="${loginUser != 'anonymousUser'}">
				<a th:href="@{/inquiry}">お問い合わせ</a>&nbsp;&nbsp;<a th:href="@{/login}">ログイン</a>&nbsp;&nbsp;<a th:href="@{/qa}">Q＆A</a>&nbsp;&nbsp;<a th:href="@{/cart}">カート</a>
			</div>

			
		</div>
		
	
	</header>

<!--												<hr>-->
<!--												<div th:each="item : ${productList}" class="product-link">-->


	<!-- 作品基本情報 -->
	<div class="center-wrapper">
					<table>
					<tr>
						 <td>
      						<img th:src="@{${product.imgLink}}" alt="表紙" class="main-img">
   						</td>
    					<td width = "50%">
							
							<!--　商品説明　-->
							<p class="title" th:text="${product.title}" >題名</p>
							<div class="main-description">
								<p th:text="${product.notice}"></p>
							</div>
							<p  class = "main-author"th:text="'著者: ' + ${product.author}">著者：</p>
							<p class = "main-author" th:text="'ジャンル: ' + ${product.genre}">タグ：</p> 
							<div th:if="${product.stock eq 0}">
								<button class="b_color_2">在庫切れ</button>
							</div>
							<div th:unless="${product.stock eq 0}">
								<form th:action="@{/cart/add}" method="post" class="form">
									<input type="hidden" name="id" th:value="${product.id}" />
									<button type="submit" class="b_color">カートに追加</button>
								</form>
							</div>
    					</td>
  					</tr>
				</table>				
	</div>
			
		
		
<!--　ここから　0612中村追加　サンプルページ表示　-->
		<button class="js-modal-button is-open">サンプルページ</button>
		<div class="layer js-modal">
			<div class="modal">
				<div class="overlay-gray" id="overlay-gray"></div>
				<div class="modal_inner">
					<div class="modal_button-wrap">
						<button class="close-button js-close-button">
							<span></span>	<!-- ×ボタンを作成 -->
							<span></span>
						</button>
					</div>
					<div class="modal_contents">
						<img id="img" class="SamplePageImage" th:src="${product.imgLink}">
						<p></p>
						<div class="modal_content">
						
							<div class="PageTransition">
								<button onclick="BackSamplePage()">前のページ</button>
								<button onclick="NextSamplePage()">次のページ</button>
							</div>
						
							<script th:inline="javascript">
								const modal = document.querySelector('.js-modal');
								const modalButton = document.querySelector('.js-modal-button');
								const modalClose = document.querySelector('.js-close-button');
								/*<![CDATA[*/
								//サーバー側の　${SampleFileDirectory1}　をJavaScript形式にしている
								var bookImage = /*[[${product.imgLink}]]*/ '';
								var SampleImage1 = /*[[${SampleFileDirectory1}]]*/ '';
								var SampleImage2 = /*[[${SampleFileDirectory2}]]*/ '';
								var SampleImage3 = /*[[${SampleFileDirectory3}]]*/ '';
								/*]]>*/
								const SampleImageS = [bookImage, SampleImage1, SampleImage2,SampleImage3]
								const image = document.getElementById("img");
								
								let count=0;
								
								img.setAttribute("src", SampleImageS[count]);
								
								function NextSamplePage(){
									if(count<3){
										count++;
									}
									img.setAttribute("src", SampleImageS[count]);
								}
								
								function BackSamplePage(){
									if(count>0){
										count--;
									}
									img.setAttribute("src", SampleImageS[count]);
								}
 
								modalButton.addEventListener('click',()=> {
									modal.classList.add('is-open');
								});
								
								modalClose.addEventListener('click',()=> {
									modal.classList.remove('is-open');
								});
								
								function changeImage(src) {
									img.src = src;
								}
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
<!--　ここまで　0612中村追加　サンプルページ表示　-->
 
<!--　ここから　0614中村追加　画面キャプチャ禁止 サンプルページのみ適用-->
	<!--　ここから　0614中村追加　スクショ防止　-->
		<div class="overlay-gray" id="overlay-gray"></div>
	<!--　ここまで　0614中村追加　スクショ防止　-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
	const imagesNG=document.querySelectorAll('img');
	
	//特定のキーが押された時
	$(window).on('keydown', function(e){
		var keyCode = e.keyCode;
		//16 Shiftキー
		//44 PrintScreen
		//91 Win(left)
		//92 Win(right)
		if(keyCode==16||keyCode==44||keyCode==91||keyCode==92) {
			$('#overlay-gray').show();
		}
	});
	
	//キーを離した時
	$(window).on('keyup', function(){
		$('#overlay-gray').hide()	
	});
		
	//開発者ツール閲覧禁止（HTMLやJavaScriptを弄られないように）本番環境　バグ起きるので削除
	//画面の大きさを検知
	//setInterval(() => {
  		//if (window.outerHeight - window.innerHeight > 100 || window.outerWidth - window.innerWidth > 100) {
    		//document.body.innerHTML = '';
   			//alert("本サイトでは開発者ツールの閲覧は禁止されています。");
 		//}
	//}, 1000);
 
	//タブを切り替えたら画面非表示 //動かず。。。
	document.addEventListener("visibilitychange",() => {
		if(document.hidden){
			$('#overlay-gray').show()	
		} else {
			$('#overlay-gray').hide()
		}
	});
</script>
<!--　ここまで　0614中村追加　画面キャプチャ禁止  サンプルページのみ適用-->
		
<!--　ここから　0612中村追加　共有機能　URLをコピーする　-->
		  <p></p>
		  <button id="shareButton" onclick="copyUrl()">URLを共有する</button>
			<script>
			function copyUrl() {
				const button = document.getElementById('shareButton');
				button.style.backgroundColor = 'red'; // ボタンの色を赤に変更
				button.innerText = 'コピー完了！'; // テキストを変更

        		const element = document.createElement('input');
        		element.value = location.href;
        		document.body.appendChild(element);
        		element.select();
        		document.execCommand('copy');
        		document.body.removeChild(element);

        		setTimeout(() => resetButton(), 4000); // 4秒後にボタンを戻す
   			}

    		function resetButton() {
				const button = document.getElementById('shareButton');
				button.style.backgroundColor = ''; // ボタンの色を元に戻す
				button.innerText = 'URLを共有する'; // テキストを元に戻す
			}
			function getInitialIcon() { return `
				<svg xmlns="http://www.w3.org/2000/svg" height="24px"
					viewBox="0 -960 960 960" width="24px" fill="#1f1f1f">
			            <path
						d="M480-400q-50 0-85-35t-35-85v-240q0-50 35-85t85-35q50 0 85 35t35 85v240q0 50-35 85t-85 35Zm0-240Zm-40 520v-123q-104-14-172-93t-68-184h80q0 83 58.5 141.5T480-320q83 0 141.5-58.5T680-520h80q0 105-68 184t-172 93v123h-80Zm40-360q17 0 28.5-11.5T520-520v-240q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v240q0 17 11.5 28.5T480-480Z" />
			        </svg>
			`; }
			function getRecordingIcon() { return `
			<svg xmlns="http://www.w3.org/2000/svg" height="24px"
				viewBox="0 -960 960 960" width="24px" fill="#1f1f1f">
			            <path
					d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z" />
			        </svg>
			`; }
			</script>
<!--　ここまで　0612中村追加　共有機能　URLをコピーする　-->
		
<!--　ここから　0612中村追加　レビュー　-->
		  <p></p>
		  <p></p>
		  <div>レビュー記入</div>
		  <form th:action="@{/CompReview}" method="post">
			<input type="hidden" name="id" th:value="${product.id}"> 
		　	<input type="text" maxlength="100" required name="writeReview">
			<input type="submit" name="レビュー送信">
		  </form>
		  <p></p>
		  <table>
			  <tr>
				  <th>レビュー</th>
			  </tr>
			  <tr th:each="rev:${TakeReview}">
				  <td th:text="${rev.comment}"></td>
				  <td th:text="${rev.user_name}"></td>
				  <td>
					<div th:unless="${rev.alreadyAlert}">
						<div th:unless="${rev.user_name} eq ${Review_user_name}">
						  	<form action="/ReviewAlert" method="post">
						  		<input type="hidden" name="id" th:value="${product.id}">
						 		<input type="hidden" name="revAle_username" th:value="${rev.user_name}"> 
						 		<input type="submit" value="通報">
						 	</form>
					 	</div>
				 	</div>
				 	<div th:if="${rev.alreadyAlert}">既に通報したユーザです</div>
				  </td>
			  </tr>
		  </table>
<!--　ここまで　0612中村追加　レビュー　-->
	</div>
</body>
</html>