<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>お問い合わせフォーム</title>

	<style>
		
		.button {
			width: 300px;
			height: 30px;
			background-color: rgb(105, 230, 121);
			border: none;
			border-radius: 5px;

		}

		body {
			background-color: #e6e6e6;
		}

		.button:hover {

			background: rgb(188, 189, 255);

		}
	</style>
</head>

<body>
	<h1 style="text-align: center;">お問い合わせフォーム</h1>
	<a th:href="@{/qa}">Q＆A</a>
	<a th:href="@{/homepage}">ホームページに戻る</a>
	<form action="/inquiry" method="post" onsubmit="return checkInput()" style="margin: auto; width: 600px;">
		<label>件名：</label>
		<input type="text" name="subject" class="textbox" id="textInput" required>
		<textarea rows="30" cols="110" class="container" name="content" placeholder="内容を入力（250文字以内)" maxlength="250"
			id="textInput" required></textarea>
		<input type="submit" value="送信" class="button">
	</form>

</body>

</html>