<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sample Page</title>
</head>

<body>
	<a th:href="@{/products}" class="product-link">＜戻る</a>
	<button id="BackSamplePage" class="PageTransition">前のページへ</button>
	<button id="NextSamplePage" class="PageTransition">次のページへ</button>
	<img id="img" th:src="${SampleFileDirectory1}" width="50" height="70">

	<script th:inline="javascript">
		/*<![CDATA[*/
		//サーバー側の　${SampleFileDirectory1}　をJavaScript形式にしている
		var backImage = /*[[${SampleFileDirectory1}]]*/ '';
		var nextImage = /*[[${SampleFileDirectory2}]]*/ '';
		/*]]>*/

		var BackSamplePage = document.getElementById('BackSamplePage');
		var NextSamplePage = document.getElementById('NextSamplePage');
		var img = document.getElementById('img');

		function changeImage(src) {
			img.src = src;
		}

		function setActiveButton(button) {
			BackSamplePage.disabled = false;
			NextSamplePage.disabled = false;
			button.disabled = true;
		}

		BackSamplePage.addEventListener('click', function(){
			changeImage(backImage);
			setActiveButton(BackSamplePage);
		});

		NextSamplePage.addEventListener('click', function(){
			changeImage(nextImage);
			setActiveButton(NextSamplePage);
		});
	</script>
</body>
</html>