<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>管理者ページ</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>管理者ページです<h1>
	
	<a th:href="@{/Stock}">在庫管理</a>
	<br>
	<a th:href="@{/UserInfo}">ユーザー情報</a>
	<br>
	
	
	<a th:href="@{/timesale}">タイムセール設定</a> <!--追加-->
	<br>
	<a th:href="@{/answer}">お問い合わせ回答フォーム</a> <!--追加-->
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="ログアウト" class="btn">
	</form>
 
	
</body>
</html>