<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>購入履歴</title>
	<style>
		.table_design01 {
				border-collapse: collapse;
				width: 100%;
				max-width: 100%;
				text-align: center;
				border: 2px solid #333;
				margin-bottom: 30px;
			}
	
			.table_design01 th,
			.table_design01 td {
				border: 1px solid #333;
				background-color: #e6f1f6;
	
			}
	
			.table_design01 th {
				background-color: rgb(0, 128, 192);
				color: #fff;
				font-weight: bold;
				text-align: center;
			}
	</style>
	<link rel="stylesheet" href="/css/homePage.css">
</head>


<body>
	<header class="header">
		<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
		<label for="drawer-toggle" id="drawer-toggle-label"></label>
		<nav id="drawer">
		<ul>
			<li><a th:href="@{/products}">作品一覧</a></li>
			<li><a th:href="@{/buylog}">購入履歴</a></li>
			<li><a th:href="@{/viewLog}">閲覧履歴</a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a th:href="@{/settings}">ユーザー設定</a></li>
			<li><a th:href="@{/email-settings}">メール設定</a></li>
			<li><a th:href="@{/userUpdate}">パスワード変更</a></li>
			<li>
				<form th:action="@{/logout}" method="post">
					<button class="b_color4">ログアウト</button>
				</form>
			</li>
		</ul>
		</nav>
		
		<!-- 中央：書店名 -->
		<div class="header-center">
			<a href="/homepage">
				<div class="logo">品川書店</div>
			</a>
		</div>

		<!-- 右：各種ボタン -->
		<div class="list-right">
			<div th:if="${loginUser != 'anonymousUser'}">
				<a th:href="@{/inquiry}">お問い合わせ</a>&nbsp;&nbsp;<a th:href="@{/qa}">Q＆A</a>&nbsp;&nbsp;<a th:href="@{/cart}">カート</a>
			</div>
			<div th:unless="${loginUser != 'anonymousUser'}">
				<a th:href="@{/inquiry}">お問い合わせ</a>&nbsp;&nbsp;<a th:href="@{/login}">ログイン</a>&nbsp;&nbsp;<a th:href="@{/qa}">Q＆A</a>&nbsp;&nbsp;<a th:href="@{/cart}">カート</a>
			</div>
		</div>
	</header>
	
	
	<h1 style="text-align: center; margin-top: 30px;">購入履歴</h1>
	
	<table border="3" width="100%" height="200" class="table_design01" id="table">
		<tr>
			<th>購入日時</th>
			<th>商品名</th>
			<th>価格</th>
			<th>購入個数</th>
		</tr>
		<tr th:each="product:${buylog}">
			<td>
				<div th:text=${product.Time}></div>
			</td>
			<td>
				<div th:text=${product.productname}></div>
			</td>
			<td>
				<div th:text=${product.price}+'円'></div>
			</td>
			<td>
				<div th:text=${product.quantity}></div>
			</td>
		</tr>
	</table>
	
</body>
</html>