<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/homePage.css">
	<title>カート</title>
</head>
<body>
<header class="header">
		<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
		<label for="drawer-toggle" id="drawer-toggle-label"></label>
		<nav id="drawer">
		<ul>
			<li><a th:href="@{/products}">作品一覧</a></li>
			<li><a th:href="@{/buylog}">購入履歴</a></li>
			<li><a th:href="@{/viewLog}">閲覧履歴</a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a th:href="@{/settings}">ユーザー設定</a></li>
			<li><a th:href="@{/email-settings}">メール設定</a></li>
			<li><a th:href="@{/userUpdate}">パスワード変更</a></li>
			<li>
				<div th:if="${loginUser != 'anonymousUser'}">
					<form th:action="@{/logout}" method="post">
					<button class="b_color4">ログアウト</button>
					</form>
				</div>
			</li>
		</ul>
		</nav>

		<!-- 中央：書店名 -->
		<div class="header-center">
			<a th:href="@{/homepage}">
				<div class="logo">品川書店</div>
			</a>
		</div>

		<!-- 右：各種ボタン -->
		<div class="list-right">
	<div th:if="${loginUser != 'anonymousUser'}">
				<a th:href="@{/inquiry}">お問い合わせ</a>&nbsp;&nbsp;<a th:href="@{/qa}">Q＆A</a>&nbsp;&nbsp;<a th:href="@{/cart}">カート</a>
			</div>
			<div th:unless="${loginUser != 'anonymousUser'}">
				<a th:href="@{/inquiry}">お問い合わせ</a>&nbsp;&nbsp;<a th:href="@{/login}">ログイン</a>&nbsp;&nbsp;<a th:href="@{/qa}">Q＆A</a>&nbsp;&nbsp;<a th:href="@{/cart}">カート</a>
			</div>
			
		</div>
		
	
	</header>


	<h1>カートの内容</h1>
	
<!--	6/18/17:03分追加-->
	
	
	<table>
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>ID</th>
				<th>名前</th>
				<th>価格</th>
				<th>数量</th>
				<th>アクション</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${cart}">
				<td></td>
				<td></td>
				<td th:text="${product.id}"></td>
				<td th:text="${product.title}"></td>
				<td th:text="${product.price}"></td>
				<td>
					<form th:action="@{/cart/update}" method="post" class="form">
						<input type="hidden" name="productId" th:value="${product.id}" />
						<input type="number" name="quantity" th:value="${product.quantity}" min="1" required th:max="${product.stock}"/>
						<button type="submit" class="b_color">更新</button>
					</form>
				</td>
				<td>
					<form th:action="@{/cart/remove}" method="post" class="form">
						<input type="hidden" name="productId" th:value="${product.id}" />
						<button type="submit" class="b_color">削除</button>
					</form>
				</td>	
			</tr>
			<tr>
				<th></th>
				<th></th>
				<th th:text="'合計 : '+${sum}"></th>

				<th th:text="'還元ポイント : '+${pointbefore}"></th>
				<th th:text="'所持ポイント: '+ ${userPoint}+'ポイント'"></th>
				<th>
					<form th:action="@{/usepoint}" method="post">
						<input type="number" name="usepoint" required>
						<button type="submit" class="b_color">ポイント使用</button>
					</form>
<!--					<h1 th:text="${session.usepoint}+'ポイント使用'"></h1>-->
				</th>
				<th>
 
					<form th:action="@{/coupon}" method="post">
					<div th:text="${error}"></div>
						<input type="text" name="couponcode">
						<button type="submit">クーポン適用</button>
					</form>
				</th>
				<th>
					<form th:action="@{/buy}" method="post">
						<input type="hidden" name="usepoint" th:value="${session.usepoint}" />
						<button type="submit" class="b_color">購入</button>
					</form>
				</th>
			</tr>
		</tbody>
	</table>
	
	<a th:href="@{/products}">商品リストに戻る</a>
	
	<div class="center-wrapper_2">
		
	</div>
	
	<div class="center-wrapper">
	<div th:each="product : ${recommendProduct}">
		<span th:if="${product.id == recommendId}">
			<h1>こちらの商品はいかがですか</h1>
			<table>
					<tr>
						 <td>
      						<img th:src="@{${product.imgLink}}" alt="表紙" class="main-img">
   						</td>
    					<td width = "50%">
							
							<!--　商品説明　-->
							<p class="title" th:text="${product.title}" >題名</p>
							<div class="main-description">
								<p th:text="${product.notice}"></p>
							</div>
							<p  class = "main-author"th:text="'著者: ' + ${product.author}">著者：</p>
							<p class = "main-author" th:text="'ジャンル: ' + ${product.genre}">タグ：</p> 
							<form th:action="@{'/products/' + ${product.id}}" method="get" class="form">
								<button type="submit" class="b_color">商品詳細</button>
							</form>
    					</td>
  					</tr>
				</table>
		</div>
	</div>
</body>

</html>