<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ページタイトル</title>
<link rel="stylesheet" href="/css/homePage.css">
<script th:src="@{/js/script.js}" defer></script>
</head>
<body>
	<header class="header">
		<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
		<label for="drawer-toggle" id="drawer-toggle-label"></label>
		<nav id="drawer">
		<ul>
			<li><a th:href="@{/products}">作品一覧</a></li>
			<li><a th:href="@{/buylog}">購入履歴</a></li>
			<li><a th:href="@{/viewLog}">閲覧履歴</a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
			<li><a th:href="@{/settings}">ユーザー設定</a></li>
			<li><a th:href="@{/email-settings}">メール設定</a></li>
			<li><a th:href="@{/userUpdate}">パスワード変更</a></li>
			<li>
				<div th:if="${loginUser != 'anonymousUser'}">
					<form th:action="@{/logout}" method="post">
					<button class="b_color4">ログアウト</button>
					</form>
				</div>
			</li>
		</ul>
		</nav>

		<!-- 中央：書店名 -->
		<div class="header-center">
			<a th:href="@{/homepage}">
				<div class="logo">品川書店</div>
			</a>
		</div>

		<!-- 右：各種ボタン -->
		<div class="list-right">
			<div th:if="${loginUser != 'anonymousUser'}">
				<a th:href="@{/inquiry}">お問い合わせ</a>&nbsp;&nbsp;<a th:href="@{/qa}">Q＆A</a>&nbsp;&nbsp;<a th:href="@{/cart}">カート</a>
			</div>
			<div th:unless="${loginUser != 'anonymousUser'}">
				<a th:href="@{/inquiry}">お問い合わせ</a>&nbsp;&nbsp;<a th:href="@{/login}">ログイン</a>&nbsp;&nbsp;<a th:href="@{/qa}">Q＆A</a>&nbsp;&nbsp;<a th:href="@{/cart}">カート</a>
			</div>
			
		</div>
		
	
	</header>
	
		<!-- 位置情報機能 -->
	<form action="/ShopLocation" method="get">
		<button id="get-location" class ="b_color">店舗検索</button>
		<!-- <button id="get-location" type="button">店舗検索</button> -->
	</form>

	<div id="location-output"></div>
	
	<div class="out">
    <img src="https://cdn-business.nikkei.com/atcl/gen/19/00621/052000025/s1280.jpg?__scale=w:1280,h:720&_sh=0510da0b20">
	<form id="search-form" th:action="@{/products}" method="get">
			<div class="center-wrapper">
				<div class="boxlayer">
					<input type="text" id="search-input" name="search" placeholder="検索キーワードを入力..."
						th:value="${search}" list="titleLog"/>
						<datalist id="titleLog">
		<option th:each="item : ${searchList}" th:value="${item.title}" th:text="${item.title}"></option>
		</datalist>
					<button id="start-record-btn" type="button">
						<span id="button-icon"> <svg xmlns="http://www.w3.org/2000/svg" height="24px"
								viewBox="0 -960 960 960" width="24px" fill="#1f1f1f">
								<path
									d="M480-400q-50 0-85-35t-35-85v-240q0-50 35-85t85-35q50 0 85 35t35 85v240q0 50-35 85t-85 35Zm0-240Zm-40 520v-123q-104-14-172-93t-68-184h80q0 83 58.5 141.5T480-320q83 0 141.5-58.5T680-520h80q0 105-68 184t-172 93v123h-80Zm40-360q17 0 28.5-11.5T520-520v-240q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v240q0 17 11.5 28.5T480-480Z" />
							</svg>
						</span>
						<div class="serch-padding">音声入力</div>
					</button>
					<button id="search-btn" class="b_color5" type="submit">
						<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
							fill="#1f1f1f">
							<path
								d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
						</svg>
						<div class="serch-padding">検索</div>
					</button>
				</div>
			</div>
		</form>
</div>
	

	
<div class="center-wrapper_2">
		<h1>今週のイチオシ！！</h1>	
</div>
	

<div class="center-wrapper">
			<div class="scroll_table">
				<table>
					<tr>
						<th th:each="product : ${recommend}">
							<a th:href="@{'/products/' + ${product.id}}">
								 <img th:src="@{${product.imgLink}}" class="scroll_table-cover"  alt="本の画像" />
							</a>
						</th>
					</tr>
				</table>
		</div>
</div>
	
<div class="center-wrapper_2">
		<h1>売上ランキング</h1>	
</div>
	

<div class="center-wrapper">
			<div class="scroll_table">
				<table>
					<tr>
						<th th:each="product : ${rank}">
							<p th:text="${product.rank}"></p>
						</th>
					</tr>
					<tr>
						<th th:each="product : ${rank}">
							<a th:href="@{'/products/' + ${product.id}}">
								 <img th:src="@{${product.imgLink}}" class="scroll_table-cover"  alt="本の画像" />
							</a>
						</th>
					</tr>
				</table>
		</div>
</div>

	

</body>
</html>