<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css">
<title>店舗検索</title>
</head>

<body oncontextmenu="return false;">	<!-- 0614　中村追加　右クリック不可で画像保存禁止　--> 
<!--　ここから　0615中村追加　位置情報機能-->
	<a th:href="@{/homepage}" class="product-link">＜戻る</a>
	<p></p>
	
<!--支店情報表示-->
	<h1>店舗検索</h1>
	<table>
		<tr>
			<th>店名</th>
			<th>住所</th>
		</tr>
		<tr th:each="shoplo:${ShopLocation}">
			<td th:text="${shoplo.shop_name}"></td>
			<td th:text="${shoplo.shop_address}"></td>
		</tr>
	</table>
	
<!--現在位置から近い支店情報を取得してくる-->

	<form id="location-form" action="/ShopLocation" method="post">
		<div id="latitude-dis"></div>
		<div id="longitude-dis"></div>
		<input type="hidden" id="latitude-output" name="latitude-output"> 
		<input type="hidden" id="longitude-output" name="longitude-output"> 
		<table>
			<tr th:each="gnl:${getnowlocation}">
				<td th:text="${gnl.shop_name}"></td>
				<td th:text="${gnl.shop_address}"></td>
			</tr>
		</table>
		<p></p>		
			<button type="button" id="get-location">近くの店舗を探す</button>
	</form>


	<script>
		//geolocation を使用して位置情報取得
		document.getElementById('get-location').addEventListener('click',function(){
				if(navigator.geolocation){
				navigator.geolocation.getCurrentPosition(function(position){
					const lat  = position.coords.latitude;	//緯度算出
					const lng = position.coords.longitude; //経度算出
					
					document.getElementById('latitude-output').value=lat;
					document.getElementById('longitude-output').value=lng;
					//document.getElementById('latitude-dis').innerHTML=lat;
					//document.getElementById('longitude-dis').innerHTML=lng;
					document.getElementById('location-form').submit();
						
			},	
		//エラーが出た時の処理
		function(error)	{
			document.getElementById('latitude-output').value=35.6921356;
			document.getElementById('longitude-output').value=139.6936479;
			document.getElementById('location-form').submit();
        },
		{
			enableHighAccuracy: true,
			timeout: 5000,
			maximumAge: 0
	
		}
		
	);
} else {
	document.getElementById('location-output').innerHTML = 'Geolocationはこのブラウザでサポートされていません。';
	document.getElementById('location-output').innerHTML='エラー：' + error.message;
	document.getElementById('latitude-output').value="35.6921356";
	document.getElementById('longitude-output').value="139.6936479";
}

});
	</script>
<!--　ここまで　0615中村追加　位置情報機能-->
</body>
</html>