<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タイムセール設定画面</title>
</head>
<body>
<script src="/js/Time.js"></script>
	<h1>タイムセール設定</h1>
	<a th:href="@{/admin}">管理者画面に戻る</a>
	
	<form method="post" th;action="@{/timesale}"><br>
		タイムセール終了時刻：<input type="datetime-local" name="end" id = "datepicker2" min="" max ="" required><br>
		値引きする金額：<input type="number" name="discount" required>円<br>
		値引きする商品：<select name="discountproduct" >
			<div th:each="product : ${session.timesaleproduct}">
				<option th:value="${product.title}"><div th:text="${product.title}"></div></option>
			</div>
		</select><br>
		<input type="submit" value="送信">
	</form>
		
<!--<div id = "timer"></div>-->
 
<!--<script th:inline="javascript">-->
<!--		const end = /*[[${session.end}]]*/"end";-->
<!--</script>-->
</body>
</html>